body {
    background-color: yellow;
}

h1 {
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: wavy;
    font-size: 30px;
}

p {
    font-size: 40px;
}